header{
    height: 12rem;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -7px 20px rgba(0, 0, 0, 0.25);
}

.content{
    width: 90%;
    margin: 0 auto;
    margin-top: 10rem;
}

.content > h2{
    font-size: clamp(4rem, 5vw, 3.2rem);
    text-align: center;
    color: var(--blue);
    margin-bottom: 3rem;
}

.content > h2 span{
    font-weight: 500;
}

.content > p{
    margin-bottom: 5rem;
    font-size: 1.4rem;
    text-align: center;
}

/* Cards */

.content .cards{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 5rem;
}

.content .cards .card{
    height: 100%;
    margin-bottom: 3rem;
    background: var(--white);
    padding: 4rem 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: .8rem;
    box-shadow: var(--box-shadow);
}

.content .cards .card > h1{
    margin-bottom: 3rem;
}

.content .cards .card > img{
    margin-bottom: 5rem;
    width: 25rem;
    filter: drop-shadow(0px 5px 6px rgba(131, 82, 82, 0.15));
}

.content .cards .card:last-child{
    margin-bottom: 0;
}

/* Footer */

.content-footer{
    width: 90%;
}

footer{
    height: 15rem;
    background: var(--blue-gradient);
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.25);
    margin-top: 13rem;

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

footer section{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer section:last-child{
    margin-bottom: 0;
}

footer section > p{
    color: var(--white);
    margin-right: 5rem;
    font-weight: 600;
    font-size: 1.6rem;
}

footer section .social-icons a {
    margin-right: 1rem;
}

footer section .social-icons a:last-child{
    margin-right: 0;
}
