p{
    font-size: 1.6rem;
}

ul li{
    margin: 1rem 0;
}

table, tr, td, th{
    border: 1px solid var(--blue);
    border-collapse: collapse;
    padding: .5rem;
    font-size: 1.6rem;
    font-weight: 500;
}

.content article > h1{
    text-align: left;
    font-size: 3.6rem;
}

.content .main-text{
    font-size: clamp(3rem, 5vw, 3.2rem);
    text-align: center;
    color: var(--blue);
    margin-bottom: 5rem;
}

.content .main-text span{
    color: red;;
}

.content .main-text p{
    color: #000000;
    margin-top: 2rem;
}

/* Assunto Memoria */

.content .memory{
    background: var(--blue);
    color: var(--white);
    padding: 1rem 5rem;
    border-radius: .8rem;
    margin: 5rem 0;

    margin-bottom: 5rem;
}

.content .text-box{
    padding: 0 5rem;
}

.content .text-box h1{
    font-size: 2.4rem;
}

.content .text-box .line{
    width: 50%;
    height: .5rem;
    background: var(--blue);
    margin: 1rem 0;
}

.content .text-box .videos{
    margin: 5rem 0;
}

.content .text-box .videos .card-video{
    padding: 5rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.content .text-box .videos .card-video iframe{
    border: .5rem solid var(--blue);
    border-radius: .8rem;
    margin-bottom: 5rem;
}

.content .text-box .videos table{
    width: 60%;
    text-align: center;
    margin: 0 auto;
    
}

.content .text-box .videos table th{
    background: var(--blue);
    color: var(--white);
    padding: .2rem;
}


.content > h1{
    color: var(--blue);
    text-align: center;
}

@media (max-width: 768px){
    .content .memory h1{
        text-align: center;
    }

    .content .text-box .videos table{
        width: 100%;
    }
}